#task, #add {
    padding: 10px;
    font-size: 20px;
    border-radius: 10px;
}


li {
    position: relative;
    margin-bottom:10px;
    padding: 10px;
}

li:hover{
    background: rgb(239, 158, 239);
}

li button {
    position: absolute;
    right: 5px;
}

button {
    cursor: pointer;
}